<div class="col-lg-3">

    <div class="card">
        <div class="card-header">Navigation </div>
        <div class="card-body text-dark">
            <a href='{% post_url /wiki/2019-05-15-main_page %}'>Main Page</a><br />
            <a href='{% post_url /wiki/2018-06-21-data_engineering %}'>Data Engineering</a><br />
            <a href='{{ site.baseurl }}/wiki/categories/wikiprojects'>Category: Projects</a><br />
            <a href='{{ site.baseurl }}/wiki/categories/wikitools'>Category: Tools</a><br />
            <a href='{% post_url /wiki/2019-02-28-mathematics %}'>Mathematics</a><br />
            <a href='{% post_url /wiki/2018-06-29-algorithms %}'>Algorithms</a><br />
            <a href='{% post_url /wiki/2019-01-21-learning %}'>Learning</a><br />
            <a href='{% post_url /wiki/2019-05-15-mediawiki %}'>Media Wiki Tutorials</a><br />
            <a href='{% post_url /wiki/2019-05-15-homelab %}'>Homelab</a>
            <!-- -   Data_Engineering|Data Engineering
            -   Category:Projects|Projects
            -   Category:Tools|Tools
            -   Mathematics|Mathematics
            -   Algorithms|Algorithms
            -   Learning|Learning
            -   MediaWiki|Wiki Tutorials
            -   Homelab|Homelab -->
        </div>
        <div class="card-header">Useful </div>
        <div class="card-body text-dark">
            <!-- -   Examples|Code Snippets
            -   Data_Preprocessing|Data Preprocessing
            -   Google_Colaboratory|Google Colaboratory
            -   Interesting_Miscellaneous|Interesting Misc -->
            <a href='https://zbib.org/' target='_blank'>Online Citation Generator</a><br />
            <a href='{% post_url /wiki/2018-06-25-examples %}'>Code Snippets</a><br />
            <a href='{% post_url /wiki/2018-10-05-google_colaboratory %}'>Google Colaboratory</a><br />
            <a href='{% post_url /wiki/2018-07-03-interesting_miscellaneous %}'>Interesting Misc</a>
            <!-- -   meta
                -   recentchanges-url|recentchanges
                -   randompage-url|randompage
                -   Special:AllPages|All Pages
                -   Getting_Started|Getting Started
                -   helppage|help
            -   SEARCH
            -   TOOLBOX
            -   LANGUAGES -->
        </div>
    </div>
</div>