body{
    background-color: #111;
}

blockquote {
    margin: 2rem 1rem 1rem;
    padding: 3px;
    /* background: whitesmoke; */
    /* border: 1px solid; */
    border-left: .25em solid #dfe2e5;
}
blockquote>:last-child {
    margin-bottom: 0;
}
blockquote>:first-child {
    margin-top: 0;
}

table, th, td {
    border: solid 2px lightgrey;
}

.btn a{
    color: white !important;
}
.blog-text {
    height: 4.5em;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
}
.card.blog-post h4{
    height: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card.blog-post .card-body.center{
    padding-bottom: 0;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.8rem;
}
.card.blog-post .btn{
    margin-top: 0.8rem;
}
/* .img-thumbnail {
    width: 10%;
} */

/* lightbox 2 */
/* .lb-image, .lb-dataContainer {
max-width: 100%;
height: auto !important;
width: 100%;
} */

/* .lb-outerContainer {
    max-width: 100%;
    height: auto !important;
}
*/
.lightbox2-image-thumbnail {
    max-width: 20%;
    margin: 2%;
}
.lightbox2-image-caption {
    position: absolute;
    left: 10%;
    top: 5vw;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    height: 1.2em; 
    white-space: nowrap;
}
.lightbox2-image {
    position: relative;
}

.youtube-iframe {
    width:100%;
    height: 50vw;
}

/* ul {
    padding: None;
} */